/Yatzy/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Unicafe/nbproject/
/Yatzy/nbproject/
/Yatzy/Programfiles/
/Yatzy/Test/
/Yatzy/.nb-configuration.xml